*
{
    margin: 0;  
    padding: 0;
    font-family: sans-serif;
}
.navbar
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.list
{
    display: flex;
    gap: 20px;
}
.navbar button
{
    padding: 10px 30px;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}
.fa-bars
{
    display: none;
}
.phoneIcon
{
    width: 23px;
}